<component name="ArtifactManager">
  <artifact type="javafx" name="server">
    <output-path>$PROJECT_DIR$/out/artifacts/server</output-path>
    <root id="root">
      <element id="archive" name="server.jar">
        <element id="module-output" name="server" />
      </element>
    </root>
  </artifact>
</component>